@model DetailsQuizVM

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
          <h5 class="card-header">Quiz</h5>
          <div class="card-body">
                    <p class="card-title">Created by : @Html.DisplayFor(model => model.AppUser.Nickname)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Id) : @Html.DisplayFor(model => model.Id)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Theme) : @Html.DisplayFor(model => model.Theme.Title)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Duration) : @Html.DisplayFor(model => model.Duration)</p>
                    <a asp-action="Edit" class="btn btn-primary m-2" asp-route-id="@Model?.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-dark">Back to List</a>
          </div>
        </div>
        </div>
    </div>
</div>
