@model DetailsQuizVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Theme.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AppUser.Nickname)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AppUser.Nickname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary m-2" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
